table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* table.mat-table{
margin-right: 10px;
margin-left: 10px;
} */
div {
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
}

.mr {

  margin-right: 10px;
}
